<p style="color: green"><%= notice %></p>

<%= render @board %>

<%= render 'post/posts', board: @board %>
<%= render 'post/form', board: @board %>

<div>
  <%= link_to "Back to boards", boards_path %>

  <% # button_to "Destroy this board", @board, method: :delete %>
</div>
