<header class="p-1 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
          <li><%= link_to 'Article list', root_path, class: 'nav-link px-2 text-secondary' %></li>
          <li><%= link_to 'New Article', new_article_path, class: 'nav-link px-2 text-white' %></li>
          <li><%= link_to 'Session & Cookie Info', cookie_info_path, class: 'nav-link px-2 text-white' %></li>
        </ul>

        <div class="text-end">
          <% if user_signed_in? %>
            <%= link_to current_user.email.gsub(/@.*/, ''), edit_user_registration_path, class: 'p-3 link-light' %>
          
            <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-outline-light me-2 btn-sm', data: {
              turbo_method: :delete }%>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline-light me-2 btn-sm' %>
            <%= link_to 'Sign-up', new_user_registration_path, class: 'btn btn-warning btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  </header>